body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;

    color: white;

    background-image: linear-gradient(#2B3932, #141517);
}

.fullscreen{
    height: 100vh;
    width: 100vw;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-family: 'Koulen', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5em;
    text-align: center;
}