.playable-thumbnail{
    width: 100%;
    height: 100%;
    min-width: 240px;
    min-height: 135px;
    text-align: center;
    background-color: var(--thumbnail);
}

.playable-thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.playable-desc{
    box-sizing: border-box;
    background-color: var(--background-elevated);
    padding: 10px 15px;
}

.playable{
    padding: 20px;
}

.playable:hover{
    cursor: pointer;
    background-color: var(--background-highlight);
}